.container {
	width: 100%;
	padding-right: var(--bs-gutter-x,.75rem);
	padding-left: var(--bs-gutter-x,.75rem);
	margin-right: auto;
	margin-left: auto;
}
.mt-5 {
	margin-top: 3rem !important;
}
.py-5 {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}
.btn-lg {
	padding: .5rem 1rem;
	font-size: 1.25rem;
	border-radius: .3rem;
}
.btn-primary {
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd
}
.form-control{
	min-height: calc(1.5em + .5rem + 2px);
	padding: .25rem .5rem;
	font-size: .875rem;
	border-radius: .2rem;
}

.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
}

.btn-warning {
	color: #000;
	background-color: #ffc107;
	border-color: #ffc107;
}

.mt-2 {
	margin-top: .5rem !important;
}
.mt-3 {
	margin-top: 1rem !important;
}
.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
}
.col {
	flex: 1 0 0%;
}

.invalid-feedback {
	display: none;
	width: 100%;
	margin-top: .25rem;
	font-size: .875em;
	color: #dc3545;
}

.is-invalid~.invalid-feedback {
	display: block;
}